.container{
   display: flex;
   flex-direction: column;
   height: 100vh;
}
.header{
   flex: 15%
}
.menu{
   flex: 5%
}
.content{
   flex: 
}
.footer{

}


h1 {
 color:red;
}
.f1{
 color: tomato;
 margin-top: 20px;
 margin-bottom: 20px;
 font-size: 20px;
 font-weight: bold;
 font-family: "Times New Roman";
 text-align: left;
}
.f2{
 color: orange;
 margin-top: 10px;
 margin-bottom: 10px;
 font-size: 17px;
 font-style: normal;
 font-family: "Times New Roman";
 text-align: left;
 text-decoration: underline;
}
