.container{
   display: flex;
   flex-direction: column;
   height: 100vh;
}
.header{
   flex: 15%;
   background-color: lightblue;
}
.menu{
   flex: 5%;
   background-color: darkblue;
   display: flex;
   align-items: center;
}
.menu hover{
   background-color: lightblue;
   color: black;
}
.menu a {
   padding: 15px 20px;
   color: yellow;
   text-decoration: underline;
}
.content{
   flex: 15%;
   background-color: white;
}
.content iframe{
   flex: 1;
   width: 100%;
   height: 100%;
   border: 0;
}
.footer{
   flex: 10%;
   background-color: lightblue;
}
iframe {
   border: none;
   width: 100%;
   height: 0;
}

h1 {
 color:red;
}
.f1{
 color: tomato;
 margin-top: 20px;
 margin-bottom: 20px;
 font-size: 20px;
 font-weight: bold;
 font-family: "Times New Roman";
 text-align: left;
}
.f2{
 color: orange;
 margin-top: 10px;
 margin-bottom: 10px;
 font-size: 17px;
 font-style: normal;
 font-family: "Times New Roman";
 text-align: left;
 text-decoration: underline;
}
