h1 {
 color:red;
}
.f1{
 color: tomato;
 margin-top: 20px;
 margin-bottom: 20px;
 font-size: 20px;
 font-weight: bold;
 font-family: "Times New Roman";
}
.f2{
 color: black;
 margin-top: 10px;
 margin-bottom: 10px;
 font-size: 15px;
 font-style: normal;
 font-family: "Times New Roman";
}
